<h2>{{ title }}</h2>
<h2>Add new Preset</h2>

<p>Cliquez sur le bouton pour ajouter un nouveau preset.</p>

<div>
  <a routerLink="/add" class="container">
    <button mat-flat-button color="accent" class="ajout-btn">
      Ajouter Preset
    </button>
  </a>
</div>

<mat-list>
  <!-- Boucle sur les presets -->
  <ng-container *ngFor="let preset of presets; trackBy: trackBySlug">
    
    <h3 mat-subheader>
      {{ preset.name }} ({{ preset.type }}) 
      - {{ preset.isFactoryPresets ? 'Factory preset' : 'User preset' }}
    </h3>

    <mat-list-item>
      <div>
        <p><strong>Samples:</strong></p>
        <ul>
          <li *ngFor="let sample of preset.samples">
            {{ sample.name }} — {{ sample.url }}
          </li>
        </ul>
      </div>

      <div class="actions">
        <button mat-button color="primary" [routerLink]="['/presets', preset.slug]">
          Détails
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>

  </ng-container>
</mat-list>

<!--

<h2>Here as a table</h2>
<table>
    <tr>
        <th>Assignment Name</th>
        <th>Due Date</th>
    </tr>
    @for(assignment of assignments; track assignment.nom) {
    <tr>
        <td>{{ assignment.nom }}</td>
        <td>{{ assignment.dateDeRendu }}</td>
    </tr>
    }
-->