<h2>{{ title }}</h2>
<h2>Nouveau Preset</h2>

<p>Cliquez sur le bouton pour ajouter un nouveau preset.</p>

<div>
  <a routerLink="/add" class="container">
    <button mat-flat-button color="accent" class="ajout-btn">
      Ajouter un Preset
    </button>
  </a>
</div>
<mat-list>
  @for (preset of presets; track preset.name) {

    <h3 mat-subheader>
      {{ preset.name }} ({{ preset.type }})
      - {{ preset.isFactoryPresets ? 'Factory preset' : 'User preset' }}
    </h3>

    <!-- PAS de mat-list-item ici parce que sinon la liste de samples se limite à 2 -->
    <div class="preset-card">

      <p><strong>Samples:</strong></p>
      <ul>
        @for (sample of preset.samples; track sample.name) {
          <li>
            {{ sample.name }} — {{ sample.url }}
          </li>
        }
      </ul>

      <button
        mat-button
        color="primary"
        [routerLink]="['/presets', preset.name]">
        Détails
      </button>

    </div>

    <mat-divider></mat-divider>

  }
</mat-list>
